.App {
  text-align: center;
  font-family:"Times New Roman", Times,  serif;
 


}
.click{
  background-color: black;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cal{
  background-color: lightpink;
}
.header{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}